.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #87D2A7;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    color: #0F114B;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
}

.search-bar {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: 1rem;
}

.profile-icon {
    font-size: 1.5rem;
    cursor: pointer;
}